a {
    text-decoration: none;
}

boby {
    margin: 0;
}

p {
    font-size: 20px;
}


ol {
    font-size: 30px;
    width: 250px;
    margin: 0;
}

input {
    border-radius: 10px;
    font-size: 50px;
}

#grid {
    display: grid;
    grid-template-columns: 300px 1fr;
}

#grid ol {
    padding-left: 20px;
    border-right: 2px solid gray;
}

li {
    margin-left: 40px;
    margin-top: 10px;
}

h1 {
    font-size: 50px;
    text-align: center;
    border: 4px red solid;
    padding: 20px;
    width: 200px;
}

h2 {
    font-size: 50px;
    text-align: center;
    border-bottom: 2px solid gray;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

div h3 {
    text-align: center;
}

@media(max-width:800px){
    #grid {
        display: block;
    }
    #grid ol {
        border-right: none;
    }
    h2 {
        border-bottom: none;
    }
}


