*{
    margin:0;
    padding:0;
}

header {
    line-height: 50px;
}

.menu {
    display: flex;
    position: fixed;
    text-align: center;
    justify-content: center;
    background-color: aquamarine;
    width: 100%;
    z-index: 3;
}

li{
    list-style:none;
}

.slide{
    height:970px;
    overflow:hidden;
}

img {
    height:970px;
    width: 100%;
    opacity: 0.7;
}

.slide ul{
    height:100%;
}

.slide li{
    height:100%;
}

.slide li:nth-child(1){
    background:black;
}

.slide li:nth-child(2){
    background:yellow;
}

.slide li:nth-child(3){
    background:green;
}

.slide li:nth-child(4){
    background:blue;
}