*{
    margin:0;
    padding:0;
}

.menubar {
    line-height: 50px;
    background-color: aquamarine;
    text-align: center;
    justify-content: center;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.menu .fas{
    font-size: 35px;
    padding-right: 15px;
    margin-top: 7px;
}

.menu > a {
    text-decoration: none;
    color: black;
}

.role {
    position: absolute;
    right: 0;
    padding-right: 30px;
}

li{
    list-style:none;
}

.slide{
    height:970px;
    overflow:hidden;
}

img {
    height:970px;
    width: 100%;
    opacity: 0.7;
}

.slide ul{
    height:100%;
}

.slide li{
    height:100%;
}

.slide li:nth-child(1){
    background:black;
}

.slide li:nth-child(2){
    background:black;
}

.slide li:nth-child(3){
    background:black;
}

.slide li:nth-child(4){
    background:black;
}